html,
body,
a {
    margin: 0.1em;
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


    /* CSS HEX */
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --ruby-red: #a4161aff;
    --carnelian: #ba181bff;
    --imperial-red: #e5383bff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: #d3d3d3ff;
    --cultured: #f5f3f4ff;
    --white: #ffffffff;

    /* CSS HSL */
    --rich-black-fogra-39: hsla(330, 10%, 4%, 1);
    --eerie-black: hsla(206, 14%, 10%, 1);
    --blood-red: hsla(359, 87%, 21%, 1);
    --ruby-red: hsla(358, 76%, 36%, 1);
    --carnelian: hsla(359, 77%, 41%, 1);
    --imperial-red: hsla(359, 77%, 56%, 1);
    --silver-chalice: hsla(5, 7%, 67%, 1);
    --light-gray: hsla(0, 0%, 83%, 1);
    --cultured: hsla(330, 9%, 96%, 1);
    --white: hsla(0, 0%, 100%, 1);



}